.person-attribute {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.person-attribute p {
  padding: 10px;
  width: 70%;
  border: 1px solid #bbb;
  border-radius: 4px;
  color: #444;
  margin: 5px;
}

